@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 120px;
}

.header-logo {
  font-weight: 500;
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 30px;
}

.second-hero-section {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  color: #f9f9f9;
  margin-bottom: 100px;
}

.first-hero-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.placeholder-item {
  background-color: #e5e7eb;
  width: 400px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.hero-section--first--text {
  font-size: 48px;
  font-weight: 900;
}

.btn {
  background-color: #3882f6;
  width: 90px;
  height: 25px;
  border: 1px solid #3882f6;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

.square-info {
  width: 175px;
  text-align: center;
}
.square {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.information-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  gap: 10px;
}

.the-quote {
  width: 750px;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.quote-author {
  padding-left: 450px;
}

.sign-up-section {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 100px;
  padding: 60px 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-second {
  border: 2px solid #f9faf8;
  border-radius: 8px;
  text-align: center;
  padding: 10px 30px;
  font-weight: 500;
}

.no-btn-sign-up-section {
  font-size: 20px;
}

.no-btn-sign-up-section div:first-child {
  font-weight: 500;
}

.footer {
  padding: 50px;
  color: #f9faf8;
  background-color: #1f2937;
  text-align: center;
}
